/* Name, Date */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  body{
    font-family: cursive;
    background-image: url("assests/background-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    padding: 0 20%;
    font-size: 24px;
  }
h1{
  /* width: 24px;
  height: px; */
  color: red;
  animation-name: h1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes h1{
   from {color: rgb(247, 60, 3);}
  to {color: rgb(255, 187, 0);}
}